<div class="inicio">
    <div class="arquivo-vivo">
        Arquivo vivo
    </div>
    <div class="underline-title"></div>
    <div class="title_historiador">
        Seja um historiador. 
        Contribua com a história nacional
    </div>
    <div class="container-pontos">
        <div class="container-pontos-title">
            <p class="ganhe-pontos">Ganhe Pontos e Reconhecimento: </p>
            <p class="ganhe-pontos-desc">
                À medida que você contribui com descrições precisas e úteis, acumula pontos e avança em nossa comunidade. Ganhe distintivos especiais, suba de nível e seja reconhecido como um herói do Arquivo Vivo!
            </p>
        </div>
        <div class="container-pontos-image">
            <img class="research-image" src="../../assets/images/researchPaperCuate1.png" />
        </div>
    </div>

    <div class="container-jogar">
        <div class="container-jogar-image">
            <img class="winners-image" src="../../assets/images/winnersCuate21.png" />
        </div>
        <div class="container-jogar-button">
            <a class="jogue-agora" (click)="onSubmit()">Jogue agora</a>
        </div>
    </div>

    <img class="ellipse-2" src="../../assets/vectors/ellipse110_x2.svg" />
    <img class="ellipse-1" src="../../assets/vectors/ellipse110_x2.svg" />
    <img class="ellipse-3" src="../../assets/vectors/ellipse32_x2.svg" />
</div>